body {
    font-family: Helvetica ,Arial,sans-serif;
    font-size: 1,5rem;
    line-height: 1.5;
    color: #373a3c;
    background-color: #fff; 
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding: 60px 0px 60px 0px;
}

.sidenav a {
    padding: 8px 8px 8px 80px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #CFCFCF;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.language-switch{
      padding-left: 10px;
      padding-right: 10px;
  }

.social a {
    display: inline-block !important;
    font-size:20px;
    color: gray;
    padding: 0px 0px 0px 80px;
    
}

.social a:hover{
    color: rgba(52, 221, 121, 1);
    text-decoration: none;

}

.navbar-default {

    padding: 30px;
    background-color:transparent;
    border: none;
}
.navbar-right,
.navbar-right li {
    display: inline-block;
}
 .elem{
    padding: 8px 8px 8px 80px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
    transition: 0.3s;
    display: inline;
    text-align: center;
 }

 .elem a{
     text-decoration: none;
 }

 .footer {
    position: bottom;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    color: black;
    text-align: center;
 }

 .elemf{
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
    display: inline;
    text-align: center;
 }
 
 #copyright{
     font-size: 13px;
     color: #818181;
 }

.elemf a{
    font-size: 14px;
    color: #818181;
    text-decoration: none;
    padding-top: 17px;
    padding-left: 0px;
    padding-right: 0px;
    padding: 44px;
    
}

#logo-bottom{
    margin-right: auto;
}

.headerr{
    width: 100%;
    background: linear-gradient(to right, #ffffff 0%,#ffffff 50%,#34dd79 50%,#34dd79 100%);
}


@media screen and (max-width: 750px){
.headerr {
    background: linear-gradient(#34dd79, #34dd79);        
}
.top-logo {
    display: none !important;
}
.langs, .langs-ro{
    display: none;
}

.first-text, .second-text{
    font-size: 30px!important;
}

.main-title, .main-description{
    color: white!important;
}

.but{
    display: none!important;
}
}

.backcolor{
    position: absolute;
    width: 100%;
    background-color: rgba(52, 221, 121, 1);
}

#macbook-air{
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    
}

.main-title{
    color: #9f9f9f;
    font-weight: bold;
    margin-top: 100px;
    font-size: 50px;
}

.main-description{
    padding: 10px;
    font-size: 15px;
    color: gray;
}

.but{
    border-radius: 30px;
    width: 150px;
    border: none;
    color: white;
    background-color: rgba(52, 221, 121, 1);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.para{
    font-size: 15px;
    color: #9f9f9f;;
    font-weight: bold;
    text-align: center;
    width: 120;
    height: 103;
    
}

.first-text{
    font-weight: bold;
    font-size: 70px;
    color: #ececec;
}

.second-text{
    font-weight: bold;
    font-size: 70px;
    color: #ececec;
    text-align: right;
}

.left-calculator{
    background-color: rgba(52, 221, 121, 1);
}

.right-calculator{
    background-color: white;
}

.text-calculator{
    font-size: 25px;
    color:white;
    text-align: center;
    margin-top: 50px;
}

.text-calculator p{
    font-size: 15px;
    padding-left: 100px;
    text-align: 1000px;
}

.calculator-title{
    color: white;
    font-weight: bold;
    margin-top: 90px;
    font-size: 30px;
    margin-left: 350px;
}

.calculator-description{
    color: white;
    font-size: 15px;
    margin-left: 350px;
    margin-right: 400px;
    margin-bottom: 90px;
}

.calculator-container--title{
    padding-top: 40px;
    color: #9f9f9f;
    text-align: center;
    font-weight: 700;
    font-size: 13px;
}

.social-media{
    background-color: rgba(52, 221, 121, 1);
}

.social-media--title{

    color: white;
    font-weight: bold;
    margin-top: 40px;
    font-size: 30px;
    
 
}

.social-media--text{
    color: white;
    font-size: 15px;
    padding-bottom: 50px;
    
}


.store-images{
    margin-top: 65px;
    display: inline-block !important;
}

.right-contact{
    background-color: rgba(52, 221, 121, 1);
}

.left-contact{
    background-color: white;
}


#depozite-p{
    margin-top:20px;
    text-align: center;
    
    font-weight: bold;
    color: rgb(55, 218, 123);
}


#contact-p{
    font-weight: bold;
    color: white;
    font-size: 15px;
    margin-left: 350px;
    margin-right: 400px;
    margin-bottom: 50px;
    
}

.contact-description{
    color: white;
    font-size: 15px;
    margin-left: 350px;
    margin-right: 400px;

}

.nav-ingegrari{
    padding: 30px;
    
}

.nav-clienti{
    padding: 30px;
}

.slick-nav img{
    width: 70%;
    height: 70%;
    padding-top: 40px;
}

.icons-carousel--prev, .icons-carousel--next {
    position: absolute;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}


.slick-arrow{
    cursor: pointer;
}
.icons-carousel--prev {
    left: 0;
}

.icons-carousel--next, .icons-carousel--prev {
    position: absolute;
    top: 50%;
    right: 0;
    color: #9f9f9f;
    font-size: 30px !important;
    font-weight: bold;
    
}

.contact-container{
    padding-top: 40px;
    color: #9f9f9f;
    text-align: center;
    font-weight: 700;
    font-size: 13px;
}

.langs{
    margin-right: 15px;
    color: white; 
}

.langs-ro{
    margin-right: 30px;
    color: white;
}
.menu-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #00000075;
    top: 0;
    left: 0;
    display: none;
}

#back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 199;
    width: 42px;
    height: 42px;
    text-align: center;
    line-height: 30px;
    background: rgba(52, 221, 121, 1);
    color: #444;
    cursor: pointer;
    border: 0;
    border-radius: 50%;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
    box-shadow: 8px 20px 56px -2px rgba(0,0,0,.3);    
}

#back-to-top.show {
    opacity: 1;
}
#content {
    height: 2000px;
}

.map{
    max-width: 100%;
     height: auto;
    display: block;
    margin: 0 auto;

}

/* Map pins */

.map-card {
    background: #fff;
    display: block;
    position: absolute;
    width: 270px;
    border-radius: 7px;
    box-shadow: 8px 20px 56px -2px rgba(0,0,0,.3);
    visibility: hidden;
    opacity: .5;
}

.map--mobile{
    display: none;
}

.map-card-content {
    padding: 40px 20px;
    text-align: center;
}

.map-card-title {
    font-size: 17px;
    font-weight: 700;
    color: #34dd79;
}

.map-pin {
    height: 70px;
    position: absolute;
}

#pin-bod {
    top: 273px;
    right: 470px;
}


#map-card-bod {
    top: 13px !important;
    left: 45px !important;

}

#pin-cluj{
    top: 130px;
    right: 650px;
}
#map-card-cluj{
    top: 13px !important;
    left: 45px !important;
}

#pin-ploiesti{
    top: 340px;
    right: 450px;
}
#map-card-ploiesti{
    top: 13px !important;
    left: 45px !important;
}

#pin-otopeni{
    top: 415px;
    right: 440px;
}
#map-card-otopeni{
    top: 13px !important;
    left: 45px !important;
}

#pin-giurgiu{
    top: 465px;
    right: 470px;
}
#map-card-giurgiu{
    top: 13px !important;
    left: 45px !important;
}

@media screen and (max-width: 950px)
{
    .map--mobile{
        display: block!important;
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
    }
    
    #depozite-p{
        display: none;
    }
    
    .map{
        display: none!important;
    }
    #pin-bod, #pin-cluj, #pin-otopeni, #pin-giurgiu, #pin-ploiesti{
        display: none;
    }
}

/* laptop video */
.laptop {
    position: relative;
    padding-top: 24px;
    padding-bottom: 67.5%;
    height: 0;
}
.laptop iframe {
    box-sizing: border-box;
    background: url(images/Mackbook-Air-Mock-Up.png) center center no-repeat;
    background-size: contain;
    padding: 13.5% 13.7% 19.4%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
}
