


.header .navbar-toggler {
    color: #000;
}

.header .header--brand-image--color {
    display: block !important;
}

.header--brand-image--white {
    display: none !important;
  }

  .language-switch{
      padding-left: 10px;
      padding-right: 10px;
  }

